
/* style.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #060124;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-icon {

    position: relative;
    cursor: pointer;
    width: 5rem;
    height: inherit;
}

.cart-icon img {
    width: 30px;
    height: 30px;
}

#cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;

}

.container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 90%;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    position: fixed;

    bottom: 0;
    width: 100%;
}

#cart {
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    display: none; /* Hidden by default */
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cart ul {
    list-style: none;
    padding: 0;
}

#cart li {
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}
img{
    width: 11rem;
    height: inherit;
}
button{width: 90%;}